table{
    border-color: #b0c0d0;
    font-size: .9rem;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: inherit;   
}

th
{
    border-bottom: none;
    color: #333;
    font-weight: 700;
}
tr {
    background-color: #dae4f0;
    border-width: 1px 1px 2px 1px;
    border-color: #b0c0d0;
    border-style: solid;
    border: 1px solid #b0c0d0;
}

td
{
    padding: .75rem 0 .75rem .75rem;
    text-align: left;
}